@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

:root {
  --main_color: "#2e8b57";
  --secondary_color: "#00ced1";
  --third_color: "#ffd700";
  --fourth_color: "#ff8c00";
  --main_background_color: "#fdfcf9";
  --secondary_background_color: "#333333";
  --last_background_color: "#e74c3c";
  --main_font: "Montserrat", sans-serif;
  --main_title_font: "Rubik", sans-serif;
}

body {
  font-family: var(--main_font);
  font-size: 16px;
}

.logo {
  height: 12em;
  width: 12em;
  padding: 1.5em;
  will-change: filter;
  position: absolute;
  left: 1vw;
}
.logo:hover {
  filter: drop-shadow(0 0 2.5em #00ced1);
}

main {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--main_title_font);
  font-size: 2em;
  color: #2e8b57;
}

h2 {
  font-family: var(--main_title_font);
  font-size: 1.5em;
}

.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box_choice {
  display: grid;
  grid-template-columns: 6em 6em;
  justify-items: center;
  gap: 1.5em;
  margin-top: 2em;
}

.step_box {
  width: 6em;
  height: 4em;
  border: solid 0.6px #2e8b5757;
  background-color: #fdfcf9;
  box-shadow: 0px 0px 11px 3px #2e8b5714;
  border-radius: 16px;
  will-change: filter;
  font-size: medium;
}

.step_box:hover {
  filter: drop-shadow(0 0 0.8em #ffd9008a);
}

.quizRoom {
  display: contents;
}

.mission_zone {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  text-align: center;
}

.logo_icone {
  height: 8em;
  width: 8em;
  margin-bottom: 1em;
}

.mission_zone p {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  max-width: 90%;
}

.mission_zone button {
  background-color: #2e8b5757;
  border: none;
  padding: 1em;
  border-radius: 8px;
}

.mission_zone button:hover,
.solutions:hover {
  filter: drop-shadow(0 0 0.8em #1a4e3057);
}

.answer_zone {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}

.question_img {
  width: 4em;
  height: 4em;
}

.answer_zone div {
  margin-top: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
  width: 100%;
}

.answer_zone p {
  font-size: 0.8rem;
  font-weight: 200;
}

.solutions {
  width: 100%;
  background-color: #2e8b5757;
  border: none;
  border-radius: 8px;
  padding: 1em;
  text-align: start;
}

.logo_end {
  height: 8em;
  width: 8em;
  grid-row: 1/ 3;
  grid-column: 1 / 2;
}

.final_result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7em;
  margin: 9em 1.5em 0;
}

.final_result h3 {
  color: #2e8b57;
  font-size: 1.2em;
  font-weight: 600;
}

#details {
  font-weight: 300;
  color: #2e8b57;
}

.final_result p:last-child {
  font-weight: 300;
}

.final_result section {
  display: flex;
  justify-content: space-around;
}

.more_information {
  width: 49%;
  border: 1px solid #2e8b5757;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.info_card {
  padding: 1em;
  gap: 10px;
}

.final_result a {
  text-decoration: none;
  padding: 0.8em;
  border: 1px solid #2e8b5757;
  border-radius: 12px;
  color: #00ced1;
}
