@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

:root {
  --main_color: "#2e8b57";
  --secondary_color: "#00ced1";
  --third_color: "#ffd700";
  --fourth_color: "#ff8c00";
  --main_background_color: "#fdfcf9";
  --secondary_background_color: "#333333";
  --last_background_color: "#e74c3c";
  --main_font: "Montserrat", sans-serif;
  --main_title_font: "Rubik", sans-serif;
}

body {
  font-family: var(--main_font);
}

.logo {
  height: 12em;
  width: 12em;
  padding: 1.5em;
  will-change: filter;
  position: absolute;
  left: 10vw;
  /* transition: filter 300ms; */
}
.logo:hover {
  filter: drop-shadow(0 0 2.5em #00ced1);
}

main {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
}

.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box_choice {
  display: grid;
  grid-template-columns: 10em 10em;
  justify-items: center;
  gap: 2em;
}

.step_box {
  width: 8em;
  height: 6em;
  border: solid 0.6px #2e8b5757;
  background-color: #fdfcf9;
  box-shadow: 0px 0px 11px 3px #2e8b575c;
  border-radius: 16px;
  will-change: filter;
  font-size: medium;
}

.step_box:hover {
  filter: drop-shadow(0 0 2.5em #ffd700);
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
